# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.py[cod]

# Entorno
.env

# Archivos de base de datos locales
*.sqlite3

# Archivos de logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
 
